<!DOCTYPE html>
<html lang="en">
  <head itemscope itemtype="{{ .Site.BaseURL }}">
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    {{ partial "head.html" . }}
    <style>
      {{ partial "css/main.css" . | safeCSS }}
    </style>
  </head>
  <body class=" max-w-screen-md bg-red-100 m-auto  ">
        {{ partial "nav.html" . }}
        {{ partial "header.html" . }}
        {{ partial "biodata.html" . }}
        {{ partial "footer.html" . }}
      </div>
  </body>
</html>
